<ion-card class="size-img" (click)="goToCategory()">
  <ion-card-content class="ion-no-margin ion-no-padding size-img">
    <!-- Cada imagen se mostrará de acuerdo a la categoría que se reciba -->
    <img *ngIf="category==='characters'" src="../../../assets/images/marvelCharacters.jpg" alt="Characters" class="size-img">

    <img *ngIf="category==='comics'" src="../../../assets/images/marvelComics.jpg" alt="Comics" class="size-img">

    <img *ngIf="category==='creators'" src="../../../assets/images/marvelCreators.jpg" alt="Creators" class="size-img">

    <img *ngIf="category==='events'" src="../../../assets/images/marvelEvents.jpg" alt="Events" class="size-img">

    <img *ngIf="category==='series'" src="../../../assets/images/marvelSeries.jpg" alt="Series" class="size-img">

    <img *ngIf="category==='stories'" src="../../../assets/images/marvelStories.jpg" alt="Stories" class="size-img">

    <div class="div-title">
      <p class="category-title">
        <strong>{{category}}</strong>
        <ion-icon slot="end" color="white" name="arrow-forward-outline" style="margin-left: 10px;"></ion-icon>
      </p>
    </div>
  </ion-card-content>
</ion-card>