<ion-header>
  <ion-toolbar color="header">
    <ion-title color="white">Sign in</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid style="padding-top: 60px;">
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-avatar class="user-img">
          <img src="../../../assets/images/user.png" alt="user">
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row style="padding-top: 20px;">
      <ion-col size="10" offset="1">
        <ion-button expand="block" color="header" (click)="loginAsGuest()">
          <ion-label color="white"><strong>Sign in as guest</strong></ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="padding-top: 50px;">
      <ion-col size="10" offset="1">
        <ion-button expand="block" color="google" (click)="loginGoogle()">
          <ion-icon slot="start" color="white" name="logo-google"></ion-icon>
          Sign in with google
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-button expand="block" color="facebook" (click)="loginFacebook()">
          <ion-icon slot="start" color="white" name="logo-facebook"></ion-icon>
          Sign in with facebook
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
