<ion-card class="ion-no-margin ion-no-padding" style="min-height: 250px">
  <ion-card-content class="ion-no-margin ion-no-padding">
    <ion-grid class="ion-no-margin ion-no-padding">
      <ion-row class="ion-no-margin ion-no-padding">
        <ion-col size="12">
          <img [src]="serie.thumbnail !== null ? (serie.thumbnail.path + '.' + serie.thumbnail.extension).replace('http', 'https') : 'https://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available.jpg'" 
                [alt]="serie.title" 
                style="min-height: 220px; max-height: 220px; min-width: 100%;">
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-margin ion-no-padding">
        <ion-col size="12">
          <ion-item color="danger" lines="none">
            <ion-label>{{serie.title}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>