<app-header [title]="'My data'"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-avatar [style]="'width: '+width+'px; height: '+width+'px;'">
          <img alt="user" id="imagenPrevisualizacion">
          <!-- <img *ngIf="platform.is('mobileweb')" [src]="identity.fotourl" alt="user"> -->
          <ion-buttons>
            <ion-button *ngIf="platform.is('capacitor')" 
                        (click)="tomarFoto()" 
                        class="position_button"
                        shape="round" 
                        fill="solid" 
                        color="primary">
              <ion-icon name="camera-outline" slot="icon-only"></ion-icon>
            </ion-button>

            <ion-button color="orden" 
                        (change)="subirFoto($event)"
                        *ngIf="!platform.is('capacitor')"
                        class="position_button"
                        shape="round"
                        fill="solid"
                        color="primary">
              <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
              <input type="file" id="btn_file" accept="image/*" name="foto">
            </ion-button>
            
          </ion-buttons>
        </ion-avatar>
        <!-- <script>
          const $seleccionArchivos = document.querySelector("#btn_file"),
          $imagenPrevisualizacion = document.querySelector("#imagenPrevisualizacion");

        // Escuchar cuando cambie
        $seleccionArchivos.addEventListener('change', () => {
          console.log('change');
          // Los archivos seleccionados, pueden ser muchos o uno
          const archivos = $seleccionArchivos.files;
          // Si no hay archivos salimos de la función y quitamos la imagen
          if (!archivos || !archivos.length) {
            $imagenPrevisualizacion.src = "";
            return;
          }
          // Ahora tomamos el primer archivo, el cual vamos a previsualizar
          const primerArchivo = archivos[0];
          // Lo convertimos a un objeto de tipo objectURL
          const objectURL = URL.createObjectURL(primerArchivo);
          // Y a la fuente de la imagen le ponemos el objectURL
          $imagenPrevisualizacion.src = objectURL;
        });
        </script> -->
      </ion-col>
    </ion-row>
    <ion-row style="padding-top: 15%;">
      <ion-col offset="1" size="10">
        <ion-item>
          <ion-input type="text" [(ngModel)]="identity.displayName" disabled="true"></ion-input>
          <ion-icon slot="end" name="create-outline" color="dark"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-label>My Location:</ion-label>
      </ion-col>
      <ion-col size="12" *ngIf="lat && lng">
        <app-map [coords]="[lng, lat]"></app-map>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
