<ion-list-header style="border-bottom: rgb(255, 193, 79) 2px solid; margin-bottom: 50px; padding-bottom: 10px;">
  <div class="div-padre">
    <ion-row>
      <ion-col size="12">
        <ion-avatar class="avatar">
          <img [src]="photoUrl" alt="user" />
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <p style="text-align: center;">{{identity.displayName}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" offset="2">
        <ion-button color="header" fill="solid" (click)="editMyData()">
          My Data
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="logOut()" expand="block" fill="clear" shape="round">
          Log out
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-list-header>
